@model IEnumerable<EmailAssistant.Models.Email>

@{
    ViewData["Title"] = "View Emails";
}


<table class="table">
    <thead>
        <tr>
            <th>Sender</th>
            <th>Subject</th>
            <th>Date Received</th>
            <th>Contents</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
@foreach (var email in Model) {
        <tr>
            <td>
                @email.From
            </td>
            <td>
                @email.Subject
            </td>
            <td>
                @email.Date
            </td>
            <td>
                <a asp-action="EmailBody" asp-route-contents="@email.Body">View Contents</a>
            </td>
            <td>
                <a asp-action="EmailSummary" asp-route-contents="@email.Body">View Summary</a>
            </td>
        </tr>
}
    </tbody>
</table>